
.entry__login { /* класс для надписи Логин  */
     padding-top: 60px; /* отступ от верхнего края  */
     font-size: 28px; /* размер шрифта */
     text-align: center; /* центрирование  */
 }

.entry__password { /* класс для надписи пароль  */
    padding-top: 60px; /* отступ от формы логина  */
    font-size: 28px; /* размер шрифта */
    text-align: center; /* центрирование  */
}

.form__input__login { /* класс формы для логина  */
    border: 0; /* убирает ебучую рамку  */
    background: #ffffff; /* цвет внутри формы  */
    font-size: 18px; /* размер шрифта  */
    border-radius: 5px; /* радиус закругления у углов формы */
    width: 400px; /* ширина формы */
    padding: 7px 0; /* высота формы  */
}

.form__input__password { /* форма, аналогичная форме логина */
    border: 0;
    background: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    width: 400px;
    padding: 7px 0;
}

.form__button { /* форма для кнопки */
    border: 0; /* убирает ебучую рамку */
    font-weight: 700; /* толщина шрифта */
    border-radius: 5px; /* радиус закругления у углов кнопки */
    background: #ffffff; /* цвет внутри кнопки */
    font-size: 18px; /* размер шрифта  */
    width: 120px; /* размер кнопки в длину */
    padding: 7px 0; /* высота кнопки  */
    text-transform: uppercase; /* преобразовани шрифта (типо caps lock) */
    cursor: pointer; /* при наведении на кнопку меняется значок */
}

.entry__data { /* класс блока входа */
    background: #b3d0e9; /* цвет фона (сейчас голубенький(шутка про серегу)) */
}

.form__login { /* класс формы логина */
    padding-left: 360px; /* отступ от края слева, не нашел как центрировать */
}

.form__password { /* класс формы пароля */
    padding-left: 360px; /* отступ от края слева */
    padding-bottom: 60px; /* отступ вниз */
}

.button_submit { /* класс блока кнопки */
    padding-left: 496px; /* отступ от края, опять же не понял как нормально центрировать */
    padding-bottom: 100px; /* отступ вниз */
}