body{ /* на весь блок body */
    font-family: 'Playfair Display', serif; /* устанавливаем шрифт Playfair */
}

ul, li { /* теги, отвечающие за список */
    display: block; /* преобразование в блок */
    padding: 0; /* отступы от края (просто надо, смирись) */
    margin: 0; /* отступы (аналогично) */
}

.header{ /* класс хэдер */
    background: #ffffff; /* фон хэдэра белый */
    color: #010101;  /* цвет текста во всем хэдэре (черный) */
    padding-top: 58px;  /* отступ от верхнего края страницы */
}

.organizationName { /* класс всех надписей в хэдере */
    padding-left: 30px; /* отступ влево от логотипа */
}

.organizationName__department a { /* класс названия департамента */
    font-size: 18px; /* размер шрифта в названии департамента */
    font-weight: 700; /*  толщина шрифта в названии департамента */
}

.organizationName__county a { /* класс названия округа */
    font-size: 16px; /* размер шрифта в названии округа */
    font-weight: 400; /*  толщина шрифта в названии организации и округа*/
}

.organizationName__organization a { /* класс названия организации */
    padding-top: 10px; /* отступ сверху от названия округа (не работает вроде, потому что сетка не позволяет) */
    font-size: 20px; /* размер шрифта в названии организации */
    font-weight: 700; /*  толщина шрифта в названии организации */
}

.headerButtons__entry a { /* класс кнопки входа */
    margin: 0 25px; /* расстояние между кнопками вход и регистрания */
    font-size: 16px; /* размер шрифта кнопки регистрации */
    font-weight: 700; /*  толщина шрифта копки входа */
}

.headerButtons__registration a { /* класс кнопки регистрации */
    font-size: 16px; /*  шрифт кнопки регистрации */
    font-weight: 700; /*  толщина шрифта кнопки регистрации*/
}
