.menu { /* класс меню */
    padding-top: 25px;  /* отступ от хэдэра */
}

.menuButtons { /* класс кнопок меню */
    font-weight: 700; /*  толщина шрифта кнопок меню */
    font-size: 23px; /*  размер шрифта кнопок меню */
    background: #c4c4c4; /* фон для кнопок меню */
    padding-top: 20px; /* отступ от хэдэра кнопок меню */
    padding-bottom: 20px; /* отступ от кнопок меню до края блока меню */
}

.menuButtons__main a { /*  */
    margin: 0 65px; /* отступ слева */
}

.menuButtons__information a { /* разобраться со флексбоксами */
    margin: 0 40px; /* отступ слева */
}

.menuButtons__news a { /* разобраться со флексбоксами */
    margin: 0 60px; /* отступ слева */
}

.menuButtons__calendar a { /* разобраться со флексбоксами */
    margin: 0 45px; /* отступ слева */
}